@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
    color: white;
    background-color: #00051E;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #00072C;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li{
  height: 70px;
}

nav a{
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  padding: 0 30px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  
}
/* header>nav>ul{
  list-style: none;
  display: flex;
  justify-content: end;
  align-self: center;
  font-weight: bold;
  position: relative;
  
} */

nav li:nth-child(1){
  margin-right: auto;
}

a:link {
  color: white;
}

/* mouse over link */
a:hover {
  color: aqua;
}

a:active {
  color: yellow;
}

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 270px;
  z-index: 999;
  background-color: #00072ccc;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu{
  display: none;
}

@media(max-width:845px){
  .hideOnMobile{
    display: none;
  }
  .menu{
    display: block;
  }
}

/* CSS */
.button {
  font-style: bold;
  background-color: aqua;
  border-radius: 8px;
  text-align: center;
  padding:15px;
  min-height:50px; 
  min-width: 100px;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  top: 40px;
  margin-bottom: 70px;
}


.button:hover {
  box-shadow: aqua 0 1px 30px;
  transition-duration: .1s;
}

.button:active {
  background-color: yellow;
  box-shadow: yellow 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button {
    padding: 0 2.6rem;
  }
}

.two-grid{
  display: flex;
  justify-content: center;
}

.aboutMe{
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.aboutMe>section>p{
  margin-top: 30px;
  font-size: 25px;
}

.aboutMe>section{
  margin: 30px;
}

.about>h1{
  padding-top: 30px;
  display: flex;
  font-size: 40px;
  justify-content: center;
}


.about-icons{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-icons>i:nth-child(4){
  margin-top: 40px;
}
.about-icons>i:nth-child(5){
  margin-top: 40px;
}
.about-icons>i:nth-child(6){
  margin-top: 40px;
}

.experience{
  margin: 30px;
}

.experience>section>h2{
  display: flex;
  justify-content: center;
}

.grid{
  display: grid;
  margin: 30px;
  grid-template-columns: repeat(3, 1fr);
}

@media all and (max-width: 1200px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 800px){
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid>div{
  width: 350px;
  height: 180px;
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: aqua;
}



/*Home Section*/

.home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.leftsection{
  margin: 25px;
}

.leftsection>h1{
  margin-top: 20px;
  font-size: 50px;
}

.leftsection>p{
  margin-top: 20px;
  font-size: 26px;
}

.leftsection>div{
  margin-top: 40px;
}

.leftsection>div>a{
  margin-right: 30px;
}

@media all and (max-width: 760px)  {
  .home{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }

  .aboutMe{
    display: grid;
    grid-template-columns: repeat(1, 1fr)
  }
}
.services{
  padding-top: 40px;
}

.services>h1{
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
}

.web{
  background: url(assets/images/web.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.android{
  background: url(assets/images/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.ios{
  background: url(assets/images/ios.png);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.network{
  background: url(assets/images/net.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.data{
  background: url(assets/images/data.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;  
}

.business{
  background: url(assets/images/business.webp);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.services-grid{
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-grid>div{
  width: 350px;
  height: 180px;
  margin: 20px;
  border-radius: 10px 10px 10px 10px;
}

@media all and (max-width: 1200px){
  .services-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 800px){
  .services-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.box{ 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
}

.box:hover{ 
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.1);
  cursor: pointer;
}

.projects{

}

.projects h1{
  padding-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin: 50px;
}

.project-grid .project{
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
}

.project img{
  width: 100%;
  transition: .5s ease;
}

.project:hover img{
  width: 100%;
  transform: scale(1.1);
}

.project .project-layer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), aqua);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 .1rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.project:hover .project-layer{
  transform: translateY(0);
}
.project:active .project-layer{
  transform: translateY(0);
}

.project-layer h3{
  font-size: 1.3rem;
  text-align: center;
}

.project-layer p{
  font-size: 1rem;
  margin: .3rem 0 1rem;
  text-align: center;
}

.project-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #FFFFFF;
  color: black;
  border-radius: 50%;
}















/*
.projects{
  padding-top: 30px;
  margin: 40px;
}

.projects>h1{
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.project-grid{
}
.project>div>p{
  margin-left: 40px;
  margin-right: 60px;
}
.project>div>h3{
  margin-left: 40px;
}
.project>div>a{
  margin-left: 40px;
}
.project-grid1{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.project-grid2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project{
  border: #FFFFFF solid 2px;
  margin: 40px;
  border-radius: 20px 20px 20px 20px;
}

.cli{
  background: url(assets/images/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain
  background-position: center;
  margin: 40px;
  width: 300px;
  height: 180px;
}
.c4g{
  background: url(assets/images/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain
  background-position: center;
  margin: 40px;
  width: 300px;
  height: 180px;
}
.hw-mvc{
  background: url(assets/images/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain
  background-position: center;
  margin: 40px;
  width: 300px;
  height: 180px;
}
.hw-lay{
  background: url(assets/images/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain
  background-position: center;
  margin: 40px;
  width: 300px;
  height: 180px;
}
.chat{
  background: url(assets/images/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain
  background-position: center;
  margin: 40px;
  width: 300px;
  height: 180px;
} */