@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/komika-axis');



body{
    color: white;
    background-color: #00051E;
    font-family: "Outfit", sans-serif;
    
    font-optical-sizing: auto;
    font-style: normal;
    
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: #00072C;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

nav li{
  height: 70px;
}

nav a{
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  margin: 0 30px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav li:nth-child(1){
  margin-right: auto;
}

a:link {
  color: white;
}

/* mouse over link */
a:hover {
  color: aqua;
}

a:active {
  color: yellow;
}



.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 270px;
  z-index: 999;
  background-color: #00072ccc;
  backdrop-filter: blur(10px);
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu{
  display: none;
}

@media(max-width:845px){
  .hideOnMobile{
    display: none;
  }
  .menu{
    display: block;
  }
}

.content{
  margin-top: 60px;
}

/* CSS */
.button {
  font-style: bold;
  background-color: aqua;
  border-radius: 8px;
  text-align: center;
  padding:15px;
  min-height:50px; 
  min-width: 100px;
  font-size: 18px;
  font-weight: bold;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 70px;
}

.button>a{
  color: #FFF;
  text-decoration: none;
}

.button:hover {
  box-shadow: aqua 0 1px 30px;
  transition-duration: .1s;
}

.button:active {
  background-color: yellow;
  box-shadow: yellow 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button {
    padding: 0 2.6rem;
  }
}

.two-grid{
  display: flex;
  justify-content: center;
}

/*Home Section*/

.home{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.head{
  color: aqua;
}
.cont .text{
  position: relative;
  font-size: 30px;
  color: aqua;
  font-family: 'Komika Axis', sans-serif;   
}

.cont .text.first-text{
  color: white;
}

.text.sec-text:after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background-color: #00051E;
  right: -8px;
  border-left: 2px solid yellow;
  animation: cursor .5s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to{
      border-left: 2px solid aqua;
  }
}

.text.sec-text:before{
  content: "Full-Stack Developer";
    color: aqua;
    animation: words 20s infinite;
}

@keyframes words {
  0%,20%{
      content: "Full-Stack Developer";
  }
  21%,40%{
      content: "Web Developer";
  }
  41%,60%{
      content: "Designer";
  }
  61%,80%{
      content: "YouTuber";
  }
  81%,100%{
      content: "Gamer";
  }
}

@keyframes typing {
  10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
      width: 0;
  }
  5%,20%,25%,40%,45%,60%,65%,80%,85%{
      width: calc(100% + 8px);
  }
}

@keyframes animate {
  40%, 60%{
    left: 100%;
  }

  100%{
    left: 0%;
  }
}

.roshen{
  font-family: 'Komika Axis', sans-serif;  
  font-size: 40px;
}

.leftsection{
  margin: 20px;
}

.leftsection>h1{
  margin-top: 20px;
  font-size: 50px;
}

.leftsection>p{
  margin-top: 20px;
  font-size: 26px;
}

.leftsection>div{
  margin-top: 20px;
}

.leftsection>div>a{
  margin-right: 20px;
}

.rightsection>img{
  margin-left: 100px;
}

.social-icon{
  transition: .3s ease;
}

.social-icon:hover{
  transform: translateY(-20%);
}

.social-icon:active{
  transform: scale(1.1);
}

@media all and (max-width: 768px)  {
  .home{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40px;
  }

  .aboutMe{
    display: grid;
    grid-template-columns: repeat(1, 1fr)
  }
}

.aboutMe{
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

.aboutMe>section>p{
  margin-top: 30px;
  font-size: 25px;
}

.aboutMe>section{
  margin: 30px;
}

.about{
  padding-top: 60px;
}

.about>h1{
  padding-top: 40px;
  display: flex;
  font-size: 40px;
  justify-content: center;
}
/* 
.hidden{
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    transform: translateX(0);
} */

.about-icons{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.about-icons>i:nth-child(4){
  margin-top: 40px;
}
.about-icons>i:nth-child(5){
  margin-top: 40px;
}
.about-icons>i:nth-child(6){
  margin-top: 40px;
}

.experience{
  margin: 30px;
}

.experience>section>h2{
  display: flex;
  justify-content: center;
}

.grid{
  display: grid;
  margin: 30px;
  grid-template-columns: repeat(3, 1fr);
}

@media all and (max-width: 1200px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px){
  .grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid>div{
  width: 350px;
  height: 180px;
  margin: 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: aqua;
}

/*Services*/

.services{
  padding-top: 100px;
}

.services>h1{
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
}

.web{
  background: url(assets/images/services/web.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.android{
  background: url(assets/images/services/android.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.ios{
  background: url(assets/images/services/ios.png);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.network{
  background: url(assets/images/services/net.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.data{
  background: url(assets/images/services/data.jpg);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;  
}

.business{
  background: url(assets/images/services/business.webp);
  background-repeat: no-repeat;
  background-size: cover;/* length, cover, contain */
  background-position: center;
}

.services-grid{
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.services-grid>div{
  width: 350px;
  height: 180px;
  margin: 20px;
  border-radius: 10px 10px 10px 10px;
}

@media all and (max-width: 1200px){
  .services-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px){
  .services-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.box{ 
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s ease;
}

.box:hover{ 
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.1);
  cursor: pointer;
}

/*Projects*/

.projects{
    padding-top: 40px;
}

.projects h1{
  padding-top: 4rem;
  margin-bottom: 3rem;
  font-size: 40px;
  text-align: center;
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin: 50px;
}

@media all and (max-width: 1200px){
  .project-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 768px){
  .project-grid{
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-grid .project{
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
}

.project img{
  width: 100%;
  transition: .5s ease;
}

.project:hover img{
  width: 100%;
  transform: scale(1.1);
}

.project .project-layer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 .1rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.project:hover .project-layer{
  transform: translateY(0);
}
.project:active .project-layer{
  transform: translateY(0);
}

.project-layer h3{
  font-size: 1.3rem;
  text-align: center;
}

.project-layer p{
  font-size: 1rem;
  margin: .3rem 0 1rem;
  text-align: center;
}

.project-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #FFFFFF;
  color: black;
  border-radius: 50%;
}

.contact h1{
  padding-top: 4rem;
  margin-bottom: 3rem;
  font-size: 40px;
  text-align: center;
}

.contact{
  padding-top: 40px;
  width: 100%;
}

.contact form{
  text-align: center;
  max-width: 80vw;
  margin: 1rem auto;
  margin-bottom: 3rem;
}

.contact form input,
.contact form textarea{
  width: 100%;
  color: #FFFFFF;
  background-color: #5d658d;
  margin-bottom: .8rem;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  resize: none;
  
}

input::placeholder {
  font-weight: bold;
  opacity: 1;
  color: white;
}

textarea::placeholder {
  font-weight: bold;
  opacity: 1;
  color: white;
}

/*Footer*/

footer{
  margin-top: 50px;
  padding: 20px;
  background-color: #00072C;
  position: relative;
}


.footupsec{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media all and (max-width: 600px){
  .footupsec{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.rightsec>div>a{
  margin-right: 20px;
}


.footicons{
  display: flex;
  justify-content: end;
}

.footh3{
  display: flex;
  margin-right: 10px;
  justify-content: end;
}

.footblwsec h3{
  padding-top: 20px;
  text-align: center;
}

.footupsec>div>div>h3{
  margin-bottom: 10px;
  font-size: 30px;
}

.footupsec>div>p{
  font-size: 20px;
  margin-top: 5px;
}

.footupsec>div>p>a{
  color: white;
  text-decoration: none;
}

.footupsec>div>p>a:hover{
  color: aqua;
}

@media all and (max-width: 500px){
  .about-icons{
    grid-template-columns: repeat(1, 1fr);
  }

  
}